body {
  color: #424242;
  background-color: #fafafa;
  font-family: sans-serif;
  margin-bottom: 10vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #eaeaea;
}

body::-webkit-scrollbar-thumb {
  background: #424242;
}

a {
  color: #424242;
  text-decoration: none;
  padding: 1em;
}

nav a {
  display: inline-block;
}

a:hover {
  background: #eaeaea;
  text-decoration: underline;
}

form div {
  display: inline-block;
  margin: 1em;
}

label {
  display: block;
}

input::placeholder {
  color: #9e9e9e;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

.left {
  text-align: start;
}

.text-color-red {
  color: red;
}

.background-color-red {
  background: #e57373;
  animation: fade infinite 20s linear;
}

.background-color-green {
  background: #81c784;
  animation: fade infinite 20s linear;
}

.background-color-gray {
  background: #ccc;
  animation: fade infinite 20s linear;
}

.text-style-bold {
  font-weight: bold;
}

.btn {
  height: 100%;
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #424242;
  color: #fafafa;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #616161;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.spacer-horizontal {
  border-bottom: thin solid #424242;
  width: 100%;
  margin: 20px 0px;
}

.spacer-vertical {
  border-left: thin solid #424242;
  min-height: 30rem;
  margin-left: 75px;
  margin-right: 60px;
}

.page-not-found-message {
  margin: 30px 0px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.navbar-logo-containee {
  flex: 1;
  margin: 0;
}

.navbar-logo-navlink {
  padding: 0;
}

.navbar-logo-navlink:hover {
  background: none;
  text-decoration: none;
}

.navbar-links-containee {
  flex: 1;
  margin-left: auto;
}

.navbar-user-name {
  padding: 16px;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #eaeaea;
  padding: 1em 0em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.buy-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-containee {
  flex: 1;
}

.form-btn-containee {
  flex: 1;
  padding: 0em;
}

.portfolio-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.portfolio-row-containee {
  flex: 1;
}

.portfolio-row-stocks-containee {
  flex: 2;
}

.portfolio-row-balance-containee {
  flex: 1;
  align-self: flex-start;
}

.portfolio-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.portfolio-column-containee {
  flex: 1;
}

.portfolio-column-stock-containee {
  flex: 2;
  text-align: start;
}

.portfolio-column-price-containee {
  flex: 1;
  text-align: end;
}

.portfolio-row-balance-containee.portfolio-column-container {
  background: #eaeaea;
  padding-top: 1em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.stock-details {
  padding: 0.5em;
  border-radius: 5px;
}

.cash-details {
  margin-bottom: 1em;
}

.transactions-column-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.transactions-column-containee {
  flex: 1;
  align-self: flex-start;
  background: #eaeaea;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.transactions-column-message-containee {
  flex: 1;
  align-self: flex-start;
}

.transaction-details {
  margin: 1em;
}

.google-oauth {
  margin-top: 2em;
}

@keyframes fade {
  to {
    background-color: #fafafa;
  }
}

.burger-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  right: 0;
  top: 0;
  height: 100%;
}

.burger-containee {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.burger-caret {
  position: relative;
  top: 0;
}

.burger-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #424242;
  min-width: 16vw;
  z-index: 1;
}

.burger-link:hover {
  background: #616161;
}

.burger-close {
  transform: rotate(180deg);
  transition: all 0.25s ease-out;
}

.burger-open {
  transform: rotate(0);
  transition: all 0.25s ease-out;
}

.home-message {
  padding-bottom: 1em;
}

.home-navlink {
  color: #357da7;
  text-decoration: none;
  padding: 0;
}

.home-navlink:hover {
  background: none;
  text-decoration: underline;
}

.preloader {
  position: absolute;
  margin: 0px;
}

.progress.preloader.preloader-inner-color {
  background-color: #bdbdbd;
}

.progress .indeterminate.preloader-outer-color {
  background-color: #424242;
}

.buy-form-input {
  width: 8em;
}
