body {
  font-family: sans-serif;
  margin-bottom: 10vh;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

a:hover {
  text-decoration: underline;
}

form div {
  display: inline-block;
  margin: 1em;
}

label {
  display: block;
}

.center {
  text-align: center;
  margin: auto;
  width: 50%;
}

.left {
  text-align: start;
}

.text-color-red {
  color: red;
}

.background-color-red {
  background: red;
}

.background-color-green {
  background: green;
}

.background-color-gray {
  background: gray;
}

.text-style-bold {
  font-weight: bold;
}

.spacer-horizontal {
  border-bottom: thin solid black;
  width: 100%;
  margin: 30px 0px;
}

.spacer-vertical {
  border-left: thin solid black;
  height: 350px;
  margin-left: 75px;
}

.page-not-found-message {
  margin: 30px 0px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo-containee {
  flex: 1;
}

.navbar-links-containee {
  flex: 1;
  margin-left: auto;
}

.navbar-user-name {
  margin: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-containee {
  flex: 1;
}

.portfolio-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.portfolio-row-containee {
  flex: 1;
}

.portfolio-row-stocks-containee {
  flex: 2;
}

.portfolio-row-balance-containee {
  flex: 1;
}

.portfolio-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.portfolio-column-containee {
  flex: 1;
}

.portfolio-column-stock-containee {
  flex: 2;
  text-align: start;
}

.portfolio-column-price-containee {
  flex: 1;
  text-align: end;
}

.transactions-column-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.transactions-column-containee {
  flex: 1;
  align-self: flex-start;
}

.transaction-details {
  margin: 1em;
}
